body {
  text-align: center;
}


body {
  background-color: #f3ead8;
  opacity: 0.8;
  background-image: linear-gradient(#866c5a 1px, transparent 1px),
    linear-gradient(to right, #866c5a 1px, #f3ead8 1px);
  background-size: 20px 20px;
  background-size: cover;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  /* font-family: fantasy; */
  font-size: 3em;
  text-align: center;
  box-shadow: 10px 9px 10px #70823e;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  /* font-family: fantasy; */
  font-size: 2em;
  text-align: center;
  box-shadow: 10px 9px 10px #70823e;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  height: 350px;
  width: 360px;
  margin: 10px;
  object-fit: cover;
}

img:hover {
  transform: scale(1.1);
}
